<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Status Page</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h3 th:text="'Project name: ' + ${project.name}"/>
<h3 th:text="'Number of groups: ' + ${project.numberOfGroups}"/>
<h3 th:text="'Students per group: ' + ${project.studentsPerGroup}"/>
<h1></h1>

<table style="width:25%">
    <caption style="font-size:39px;">Students</caption>
    <tr>
        <th style="width:55%">Student</th>
        <th>Group</th>
        <th style="width:19%">Actions</th>
    </tr>
    <div th:each="student,iterStat : ${project.students}">
        <tr>
            <td th:text="${student.name}"/>
            <td th:text="${student.group} ? 'Group #'+ ${student.group} : '-'"/>
            <form action="/deleteStudent" method="post">
                <td>
                    <input type="hidden" name="studentId" th:value="${student.id}"/>
                    <input type="hidden" name="projectId" th:value="${project.id}"/>
                    <input type="submit" value="delete">
                </td>
            </form>
        </tr>
    </div>
</table>
<!--<form id="addStudent-form" action="#" th:action="@{/statusPage}" th:object="${project}" method="post">
    <p>Name: <input type="text" th:field="${name}" placeholder="name" /> </p>
    <p><input id="addStudent" type="submit" value="Add" /> <input type="reset" value="Reset" /></p>
</form>-->
<form action="/addStudent" method="post">
    Name: <input name="studentName"/>
    <input name="projectId" th:value="${project.id}" type="hidden"/>
    <input type="submit" value="Submit">
</form>
<!--<td>
    <input type="text" id="fname" name="fname" >Name</input>
    <span th:if="${project.students.size()<project.numberOfGroups*project.studentsPerGroup}">
        <button onclick="location.href='/addStudent'" type="button" value="Add">Add new student</button>
    </span>
    <span th:if="${project.students.size()>=project.numberOfGroups*project.studentsPerGroup}"><h2>Students list is full.</h2></span>
</td>-->

<h1>Groups</h1>
<div th:each="i : ${#numbers.sequence( 1, project.numberOfGroups, 1)}">
    <table style="width:15%; margin: 4px 2px;">
        <tr>
            <th style="text-align:center;"><p th:text="'GROUP #' + ${i}"/></th>
        </tr>
        <div th:each="j : ${#numbers.sequence( 1, project.studentsPerGroup, 1)}">
            <tr>
                <td><p th:text="AAA"/></td>
            </tr>
        </div>
    </table>
</div>
</body>
<style>
table, th, td {
    border: 1px solid black;
  border-collapse: collapse;
}
th, caption {
  text-align: left;
}
td {
  text-align: center;
}
button {
  border: 2px solid #000000;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
}

</style>
</html>
<!--
<script>
    $('#addStudent').on('click', function() {
   var form = $('#addStudent-form');
   $.ajax({
      url: form.attr('action'),
      data: form.serialize(),
      type: post,
      success: function(result) {
          // Do something with the response.
          // Might want to check for errors here.
      }, error: function(error) {
          // Here you can handle exceptions thrown by the server or your controller.
      }
   })
}
</script>-->
